<p>
    <strong>パーツ</strong>
    <%= part.parts_name %>
</p>

<p>
  <%= link_to 'Destroy Parts', [part.bike, part],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>